<nav class="cat__menu-left" [hidden]="isFullScreen">
  <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
    <div class="cat__menu-left__pin-button">
      <div><!-- --></div>
    </div>
  </div>
  <div class="cat__menu-left__logo">
    <a [routerLink]="['/']">
      <img src="assets/modules/top-bar/common/images/logo_big.png" />
    </a>
  </div>

  <!-- Dynamicke nacitanie left-bar subkomponent --->

  <app-left-bar-sklad *ngIf="type=='Sklad'"></app-left-bar-sklad>

  <app-left-bar-pod-ucto *ngIf="type=='Podvojné účtovníctvo'"></app-left-bar-pod-ucto>

  <app-left-bar-dashboard *ngIf="type=='Pracovná plocha'"></app-left-bar-dashboard>

  <app-left-bar-ciselniky *ngIf="type=='Číselníky'"></app-left-bar-ciselniky>

</nav>
