.cat {
    &__footer {
        margin-bottom: rem(0);
        background: $gray-border;
        border-radius: 5px 5px 0 0;
        padding: rem(10);

        /* zarovnanie na spodok */
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;

        &__bottom {
            margin-top: rem(20);
            padding-top: rem(30);
            border-top: 1px solid $gray;
        }
        &__version {
          float: left;
          margin-left: rem(50);
        }
        &__company {
            padding-left: rem(50);
            position: relative;
            display: inline-block;
            float: right;

            @media (max-width: $sm-max-width) {
                float: none;
                margin-top: rem(30);
            }
        }
        &__company-logo {
            position: absolute;
            top: rem(5);
            left: 0;
            width: rem(30);
        }

        @at-root {
            .cat__config--superclean {
                .cat__footer {
                    margin-bottom: 0;
                }
            }
        }
    }
}
