// general purpose

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml40 {
  margin-left: 40px;
}
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
.mr40{
  margin-right: 40px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb40{
  margin-bottom: 40px;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}

#grayOutDiv
{
  background-color: #333;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}

.flash-message
{
  z-index: 10000;
  position: relative;
}
