<div class="cat__menu-left__inner">
  <ul class="cat__menu-left__list cat__menu-left__list--root">
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a href="#"> polozka dashboard c.1
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-location-arrow"></i>
          </span>
      </a>
    </li>
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a href="#"> polozka dashboard c.2
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-line-chart"></i>
          </span>
      </a>
    </li>
  </ul>
</div>
