<section class="ciselniky">
  <div class="ciselniky-header">
        <span class="cat__core__title">
            <strong *ngIf="!section" i18n="@@profile-form.title">Správa číselníkov</strong>
            <strong *ngIf="section" i18n="@@profile-form.title">{{ section.title }}</strong>
        </span>
  </div>
</section>
<br/>
