<form #modelForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <label class="form-label" for="full_name" i18n="@@user-form.full_name">Cele meno</label>
        <input type="text"
               class="form-control"
               required
               maxlength="128"
               id="full_name"
               name="full_name"
               [(ngModel)]="user.full_name"
               #full_name="ngModel"
        >
      </div>
      <div *ngIf="formErrors.full_name" class="alert alert-danger">
        {{ formErrors.full_name }}
      </div>
    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label class="form-label" for="email" i18n="@@user-form.email">Email</label>
        <input type="text"
               class="form-control"
               required
               email
               maxlength="64"
               id="email"
               name="email"
               [(ngModel)]="user.email"
               #email="ngModel"
        >
      </div>
      <div *ngIf="formErrors.email" class="alert alert-danger">
        {{ formErrors.email }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <label class="form-label" for="password" i18n="@@user-form.password">Heslo</label>
        <input type="password"
               class="form-control"
               minlength="6"
               maxlength="64"
               id="password"
               placeholder="******"
               name="password"
               [(ngModel)]="user.password"
               #password="ngModel"
        >
      </div>
      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{ formErrors.password }}
      </div>
    </div>
    <div class="col-md-6">

      <div class="form-group">
        <label class="form-label" for="confirmpassword" i18n="@@user-form.confirmpassword">Potvrdenie hesla</label>
        <input type="password"
               class="form-control"
               id="confirmpassword"
               placeholder="******"
               name="confirmpassword"
               [(ngModel)]="user.confirmpassword"
               #confirmpassword="ngModel"
        >
      </div>
      <div *ngIf="formErrors.confirmpassword" class="alert alert-danger">
        {{ formErrors.confirmpassword }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label" for="is_admin" i18n="@@user-form.is_admin">Admin
          <input type="checkbox"
                 class="form-control"
                 id="is_admin"
                 name="is_admin"
                 [(ngModel)]="user.is_admin"
                 #is_admin="ngModel"
          >
        </label>

        <label class="form-label" for="is_active" i18n="@@user-form.is_active">Aktivny
          <input type="checkbox"
                 class="form-control"
                 id="is_active"
                 name="is_active"
                 [(ngModel)]="user.is_active"
                 #is_active="ngModel"
          >
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="hidden"
             id="created_at"
             name="created_at"
             [(ngModel)]="user.created_at" >

      <div class="form-actions">
        <button id="button-clear" class="btn btn-danger width-150" type="reset" (click)="onReset()" i18n="@@user-form.clear">Reset formulára</button>
        <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@user-form.save">{{ bTitle }}</button>
      </div>
    </div>
  </div>
</form>


