<div id="multiselect-wrapper" class="container-fluid dt-bootstrap4">

  <div class="row" *ngIf="multibox">

    <div class="col-md-12">
      <a href='#' id='select-all'>Vybrať všetky</a> | <a href='#' id='deselect-all'>Odobrať všetky</a>

      <select id='{{ multibox.id }}' name='{{ multibox.id }}[]' multiple='multiple'>
        <option *ngFor="let item of multibox.source;" value='{{item.id}}'
                [attr.selected]="item.choosen==true ? true : null" [attr.data-id]="item.id">
          {{item.title}}
        </option>
      </select>
    </div>

    <!--<div class="col-md-offset-10 col-md-2">-->
      <!--<div class="form-actions">-->
         <!--<button id="button-save" class="btn btn-primary width-150"-->
                 <!--(click)="_submit()">  Uložiť-->
         <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>
