<app-top-bar type="{{ unit.name }}" messages="nieco fajn"></app-top-bar>
<app-left-bar type="{{ unit.name }}"></app-left-bar>

<div class="cat__content">
  <app-company-form></app-company-form>
 </div>

<app-footer></app-footer>
