<section class="cart">
	<div class="card-header">
        <span class="cat__core__title">
            <strong i18n="@@profile-form.title">Profil</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">

                    <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="form-label" for="full_name" i18n="@@profile-form.username">Meno a priezvisko</label>
                            <input type="text" class="form-control" required minlength="4" maxlength="32"
                                   id="full_name" name="full_name" [(ngModel)]="profile.full_name"
                            >
                        </div>
                        <div *ngIf="formErrors.full_name" class="alert alert-danger">
                          {{ formErrors.full_name }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="password" i18n="@@profile-form.password">Heslo</label>
                            <input type="password" class="form-control" minlength="6" placeholder="******"
                                   id="password" name="password" [(ngModel)]="profile.password"
                            >
                        </div>
                        <div *ngIf="formErrors.password" class="alert alert-danger">
                          {{ formErrors.password }}
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="confirm_password" i18n="@@profile-form.confirm_password">Potvrdenie hesla</label>
                            <input class="form-control" type="password" data-validation="[V==validation[password]]" placeholder="******"
                                   id="confirm_password" name="confirm_password" [(ngModel)]="profile.confirm_password"
                            >
                        </div>
                        <div *ngIf="formErrors.confirm_password" class="alert alert-danger">
                          {{ formErrors.confirm_password }}
                        </div>


                        <div class="form-group">
                            <label class="form-label" for="email" i18n="@@profile-form.email">Email</label>
                            <input class="form-control" type="email" required email
                                   id="email" name="email" [(ngModel)]="profile.email"
                            >
                        </div>
                        <div *ngIf="formErrors.email" class="alert alert-danger">
                          {{ formErrors.email }}
                        </div>

                        <!-- TODO: avatar dorobit -->
                        <!--<div class="form-group">-->
                          <!--<label class="form-label" for="validation-avatar" i18n="@@profile-form.avatar">Avatar</label>-->
                          <!--<input class="form-control" id="validation-avatar" title="validation-avatar" type="file">-->
                        <!--</div>-->

                        <div class="form-actions">
                            <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@profile-form.save">Uložiť</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
<form>

</form>
</section>
