<form #modelForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="section">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label class="form-label" for="title" i18n="@@ciselniky-form.title">Názov</label>
        <input type="text"
               class="form-control"
               required
               maxlength="128"
               id="title"
               name="title"
               [(ngModel)]="ciselnik.title"
               #title="ngModel"
        >
      </div>
      <div *ngIf="formErrors.title" class="alert alert-danger">
        {{ formErrors.title }}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="hidden"
             id="created_at"
             name="created_at"
             [(ngModel)]="ciselnik.created_at" >

      <div class="form-actions">
        <button id="button-clear" class="btn btn-danger width-150" type="reset" (click)="onReset()" i18n="@@user-form.clear">Reset formulára</button>
        <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@user-form.save">{{ bTitle }}</button>
      </div>
    </div>
  </div>
</form>


