<div class="cat__menu-left__inner ">

  <ul class="cat__menu-left__list cat__menu-left__list--root">
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item']">
      <a routerLink="/sklad"> <h4>Sklad</h4>
        <!--<span class="cat__menu-left__icon icmn-profile">-->
            <!--<i class="fa fa-database"></i>-->
        <!--</span>-->
      </a>
    </li>
    <!--n-->
    <li id="skladove-ciselniky-menu" class="cat__menu-left__item cat__menu-left__submenu">
      <a (click)="onToggle('#skladove-ciselniky-menu')" > Skladové číselníky
        <span class="cat__menu-left__icon icmn-profile">
          <i class="fa fa-database"></i>
        </span>
      </a>
      <ul class="cat__menu-left__list">

        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/tovary">Tovary
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/tovar-skupiny">Tovarove skupiny
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/zlavy-tovar-skupiny">Zlavy tovarovych skupin
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/jednotky">Merne jednotky
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/pohyby">Pohyby
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>

      </ul>
    </li>

    <li id="vseobecne-ciselniky-menu" class="cat__menu-left__item cat__menu-left__submenu" [routerLinkActive]="['cat__menu-left__item--active']">
      <a (click)="onToggle('#vseobecne-ciselniky-menu')"> Vseobecne ciselniky
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-database"></i>
          </span>
      </a>
      <ul class="cat__menu-left__list" >

        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/adresar">Adresar
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a (click)="onClick('/sklad/ciselniky/staty')">Staty
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/mesta" >Mesta
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/meny" >Meny
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>
        <li class="cat__menu-left__item">
          <a routerLink="/sklad/ciselniky/penazne-ustavy">Penazne ustavy
            <span class="cat__menu-left__icon icmn-profile">
              <!--<i class="fa fa-database"></i>-->
            </span>
          </a>
        </li>

      </ul>
    </li>

    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a routerLink="/sklad/#"> Objednávky
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-shopping-basket"></i>
          </span>
      </a>
    </li>
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a routerLink="/sklad/#"> Prijemky
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-reply"></i>
          </span>
      </a>
    </li>
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a routerLink="/sklad/#"> Vydajky
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-share"></i>
          </span>
      </a>
    </li>
  </ul>
</div>
