<app-top-bar type="{{ unit.name }}"></app-top-bar>
<app-left-bar type="{{ unit.name }}"></app-left-bar>

<div class="cat__content">
  <section class="cart">
    <div class="card-header">
        <span class="cat__core__title">
            <strong i18n="@@branch-form.title">Používatelia</strong>
        </span>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">

          <app-datatable [source]="source" [_delete]="delete" [_select]="select">

          </app-datatable>
        </div>
      </div>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">

          <app-user-form [user]="editUser"></app-user-form>

        </div>
      </div>
    </div>

  </section>

</div>

<app-footer></app-footer>
