<!--&lt;!&ndash; roletove menu &ndash;&gt;-->
<!--<div class="cat__top-bar__item hidden-sm-down">-->
  <!--<div class="dropdown">-->
    <!--<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
      <!--<i class="icmn-database mr-2"></i>-->
      <!--<span class="hidden-lg-down"><strong>Správa číselníkov</strong></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" aria-labelledby="" role="menu">-->

      <!--<div class="dropdown-header">Základné</div>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Krajiny</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Štáty</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Mestá</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
        <!--<a class="dropdown-item" href="javascript:void(0)">Jazyky</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Platobné meny</a>-->
        <!--</li>-->

      <!--<div class="dropdown-divider"></div>-->

      <!--<div class="dropdown-header">Rozšíritelné</div>-->
        <!--<li class="dropdown-item">-->
        <!--<a class="dropdown-item" href="javascript:void(0)">Teritória</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Priority</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Merne jednotky</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Typy platieb</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Hladiny DPH</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Zoznam bank</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Status uctov</a>-->
        <!--</li>-->
        <!--<li class="dropdown-item">-->
          <!--<a class="dropdown-item" href="javascript:void(0)">Typy telefonov</a>-->
        <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
