<app-top-bar type="{{ unit.name }}" branches="{{ branches }}" period="{{ period }}" company="{{ company }}"></app-top-bar>

<app-left-bar type="{{ unit.name }}"></app-left-bar>

<div class="cat__content">
  Na tomto mieste sa nacita modul podvojneho uctovnictva. Zatial len pracovna verzia.
</div>

<app-footer></app-footer>
