<h1 matDialogTitle>Vyber poloziek</h1>
<div mat-dialog-content>
  <p>Vyberte z lavej strany polozky, ktore sa ulozia do Vasej databazy</p>
  <app-multiselect [multibox]="multibox" [section]="section" [_submit]="submit"></app-multiselect>
</div>
<div mat-dialog-actions>
  <button class="btn btn-primary" (click)="submit()" mat-button tabindex="2">Ok</button>
  <button class="btn btn-danger" mat-button (click)="onNoClick()" tabindex="-1">Zrusit</button>
</div>
