<div class="cat__footer">
    <div class="row">
      <div class="col-md-4">
        <div class="cat__footer__version">
          <span i18n="@@footer.version">Verzia </span>
          {{ appVersion }}
        </div>
      </div>
      <div class="col-md-8">
        <div class="cat__footer__company">
          <span i18n="@@footer.copyright">© 2017</span>
          <a href="http://www.tpsoft.sk" target="_blank">
            <span i18n="@@footer.author">TP SOFT, s.r.o.</span>
          </a>
        </div>
      </div>
    </div>
</div>
