<!-- dynamicky top bar (header stranky), ktory sa prisposobi unitu -->
<app-top-bar type="{{ unit.name }}" branches="{{ branches }}" period="{{ period }}" company="{{ company }}"></app-top-bar>

<!-- dynamicky left bar (lave menu), ktory sa prisposobi unitu -->
<app-left-bar type="{{ unit.name }}"></app-left-bar>

<!-- obsah unitu, cize cela logika unitu (skladu) -->
<div class="cat__content">

  Tu bude sklad a vsetko okolo neho. Komponenty z core sa includuju priamo v sablone, <br/>
  pretoze aj top menu aj bude rozny.

</div>

<!-- paticka aplikacie -->
<app-footer></app-footer>
