<!-- dynamicky top bar (header stranky), ktory sa prisposobi unitu -->
<app-top-bar type="{{ unit.name }}" branches="{{ branches }}" period="{{ period }}" company="{{ company }}"></app-top-bar>

<!-- dynamicky left bar (lave menu), ktory sa prisposobi unitu -->
<app-left-bar type="{{ unit.name }}"></app-left-bar>

<app-ciselniky-core [section]="section"></app-ciselniky-core>

<!-- paticka aplikacie -->
<app-footer></app-footer>
