<div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
  <div class="row" *ngIf="source">
    <div class="col-sm-12">
      <table class="table table-hover nowrap dataTable dtr-inline" id="{{ source.id }}" role="grid" aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <!-- nacitanie header tabulky -->
        <th *ngFor="let header of source.data.header;" class="sorting" tabindex="0" aria-controls="example1" >
          {{ header }}
        </th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <!-- nacitanie header tabulky na spodku tabulky -->
        <th *ngFor="let header of source.data.header;" rowspan="1" colspan="1">
          {{ header }}
        </th>
      </tr>
      </tfoot>
      <tbody>
      <!-- nacitanie obsahu tabulky -->
      <tr role="row" class="odd" *ngFor="let row of source.data.rows;
                                         let even = even;
                                         let odd = odd"
          [ngClass]="{ odd: odd, even: even }"
      >
        <!-- nacitanie riadku tabulky -->
        <td *ngFor="let item of row.data; let last = last; let first = first">

          <span *ngIf="last; then thenBlock else elseBlock"></span>
          <!-- nacitanie akcnych buttonov -->
          <ng-template #thenBlock>

             <!-- todo: css styly na zvyraznenie akcnych ikoniek -->
            <span *ngIf="source.data.action.isSelect" (click)="_select(row)"><i class="fa fa-pencil"></i>&nbsp;</span>
            <span *ngIf="source.data.action.isUpdate" (click)="_update(row)"><i class="fa fa-check-square-o"></i>&nbsp;</span>
            <span *ngIf="source.data.action.isDelete" (click)="_delete(row)"><i class="fa fa-times"></i>&nbsp;</span>
          </ng-template>
          <ng-template #elseBlock>{{ item }}</ng-template>

        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
