<div class="card-block">
  <div class="row">
    <div class="col-lg-12">

      <!-- datova tabulka ciselnika -->
      <app-datatable2 [source]="source" [_select]="select" [_update]="update" [_delete]="delete"></app-datatable2>

      <!--<app-ciselnik-form [section]="section" [ciselnik]="ciselnik"></app-ciselnik-form>-->

    </div>

    <br/>

    <div class="col-lg-12">

    <form #modelForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="ciselnik" >
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label class="form-label" for="title" i18n="@@ciselniky-form.title">Názov</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   [(ngModel)]="ciselnik.title"
                   #title="ngModel"
            >
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label class="form-label" for="title" i18n="@@ciselniky-form.abrv">Skratka</label>
            <input type="text"
                   class="form-control"
                   id="abrv"
                   name="abrv"
                   [(ngModel)]="ciselnik.abrv"
                   #abrv="ngModel"
            >
          </div>

        </div>


      </div>

      <div class="row">
        <div class="col-md-12">
          <input type="hidden"
                 id="created_at"
                 name="created_at"
                 [(ngModel)]="ciselnik.created_at" >

          <div class="form-actions">
            <button id="button-clear" class="btn btn-danger width-150" type="reset" (click)="onReset()" i18n="@@user-form.clear">Reset formulára</button>
            <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@user-form.save">{{ bTitle }}</button>
          </div>
        </div>
      </div>
    </form>

    </div>


  </div>
</div>
