/*  "CORE" MODULE STYLES */
html {
  font-size: 14px; }
  @media (max-width: 1199px) {
    html {
      font-size: 13px; } }
  @media (max-width: 767px) {
    html {
      font-size: 12px; } }

body {
  font-family: "PT Sans", sans-serif;
  color: #514d6a;
  background: #f2f4f8; }
  @media (min-width: 992px) {
    body {
      overflow-x: hidden; } }

a {
  text-decoration: none;
  color: #74708d;
  transition: color 0.2s ease-in-out; }
  a:hover, a:active, a:focus {
    color: #0088ff;
    text-decoration: none; }

input {
  outline: none !important;
  font-family: "PT Sans", sans-serif;
  color: #514d6a; }

button, input {
  box-shadow: none !important; }

input[type=text], input[type=password], input[type=email], textarea {
  appearance: none !important; }

.cat__content {
  padding: 1.42rem; }
  @media (max-width: 767px) {
    .cat__content {
      padding: 1.42rem 0;
      overflow-x: hidden; } }

code {
  color: #74708d;
  background: #f2f4f8; }

pre {
  color: #74708d;
  padding: 1.42rem;
  border-radius: 3px;
  border: 1px solid #e4e9f0;
  background: #f2f4f8; }
  pre.cat__core__pre--darken {
    background: #222034; }

/*  CORE OPTIONS */
.cat__config--superclean .cat__content {
  padding: 0; }
.cat__config--superclean .card {
  border: none !important;
  border-radius: 0 !important; }
.cat__config--superclean .cat__core__top-sidebar {
  margin: 0 0 1.42rem; }
.cat__config--squared-corners .card, .cat__config--squared-corners .cat__footer, .cat__config--squared-corners .cat__core__widget {
  border-radius: 0 !important; }

/*  CORE COMPONENTS & UTILITIES */
.cat__core__sortable {
  padding-bottom: 3.57rem;
  margin-bottom: -3.58rem;
  overflow-y: auto; }
  .cat__core__sortable > .card > .card-header {
    cursor: move; }
  .cat__core__sortable .cat__core__sortable__uncollapse {
    display: none; }
  .cat__core__sortable__collapsed > .card-block, .cat__core__sortable__collapsed > .card-footer {
    display: none; }
  .cat__core__sortable__collapsed > .card-header {
    border-bottom: none; }
  .cat__core__sortable__collapsed .cat__core__sortable__collapse {
    display: none; }
  .cat__core__sortable__collapsed .cat__core__sortable__uncollapse {
    display: inline; }
  .cat__core__sortable__control {
    display: block;
    height: 1.28rem;
    padding-top: 0.21rem;
    font-size: 0.71rem; }
    .cat__core__sortable__control i {
      color: #d2d9e5;
      cursor: pointer; }
      .cat__core__sortable__control i:hover {
        color: #b8beca; }
.cat__core__scroll-top {
  position: fixed;
  z-index: 1100;
  bottom: 2.85rem;
  right: 2.85rem;
  border-radius: 5px;
  background: #eef0f4;
  color: #b8beca;
  text-align: center;
  width: 4.28rem;
  height: 4.28rem;
  padding: 1.42rem;
  opacity: .8; }
  .cat__core__scroll-top:hover, .cat__core__scroll-top:focus, .cat__core__scroll-top:active {
    opacity: 1;
    color: #ffffff;
    background: #d2d9e5; }
.cat__core__card-with-sidebar {
  position: relative;
  min-height: 28.57rem; }
  .cat__core__card-with-sidebar:before {
    content: '';
    display: block;
    width: 1px;
    background: #e4e9f0;
    position: absolute;
    left: 17.14rem;
    top: 0;
    height: 100%;
    z-index: 0; }
  .cat__core__card-with-sidebar:after {
    display: table;
    clear: both;
    content: ""; }
  .cat__core__card-with-sidebar .cat__core__card-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 17.14rem;
    padding: 1.07rem;
    overflow-y: auto;
    height: 100%; }
  .cat__core__card-with-sidebar .card-header, .cat__core__card-with-sidebar .card-block, .cat__core__card-with-sidebar .card-footer {
    margin-left: 17.14rem; }
  .cat__core__card-with-sidebar--right:before {
    left: auto;
    right: 17.14rem; }
  .cat__core__card-with-sidebar--right .cat__core__card-sidebar {
    left: auto;
    right: 0; }
  .cat__core__card-with-sidebar--right .card-header, .cat__core__card-with-sidebar--right .card-block, .cat__core__card-with-sidebar--right .card-footer {
    margin-left: 0;
    margin-right: 17.14rem; }
  .cat__core__card-with-sidebar--large:before {
    left: 22.85rem; }
  .cat__core__card-with-sidebar--large .cat__core__card-sidebar {
    width: 22.85rem; }
  .cat__core__card-with-sidebar--large .card-header, .cat__core__card-with-sidebar--large .card-block, .cat__core__card-with-sidebar--large .card-footer {
    margin-left: 22.85rem; }
  .cat__core__card-with-sidebar--large.cat__core__card-with-sidebar--right:before {
    left: auto;
    right: 22.85rem; }
  .cat__core__card-with-sidebar--large.cat__core__card-with-sidebar--right .card-header, .cat__core__card-with-sidebar--large.cat__core__card-with-sidebar--right .card-block, .cat__core__card-with-sidebar--large.cat__core__card-with-sidebar--right .card-footer {
    margin-right: 22.85rem;
    margin-left: 0; }
  @media (max-width: 991px) {
    .cat__core__card-with-sidebar:before, .cat__core__card-with-sidebar:after {
      display: none; }
    .cat__core__card-with-sidebar .cat__core__card-sidebar {
      position: static;
      margin-bottom: 0rem;
      width: auto;
      overflow: auto;
      height: auto; }
    .cat__core__card-with-sidebar .card-header, .cat__core__card-with-sidebar .card-block, .cat__core__card-with-sidebar .card-footer {
      margin-left: 0;
      margin-right: 0; } }
.cat__core__top-sidebar {
  margin: -1.43rem -1.43rem 1.42rem -1.43rem;
  padding: 1.42rem 1.42rem 1.07rem; }
  .cat__core__top-sidebar--bg {
    padding: 1.42rem 1.42rem 1.07rem;
    background: #ffffff;
    border-bottom: 1px solid #e4e9f0; }
  @media (max-width: 767px) {
    .cat__core__top-sidebar {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0; } }
.cat__core__scrollable {
  overflow: auto; }
.cat__core__avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #eef0f4;
  border-color: #b8beca;
  display: inline-block;
  overflow: hidden;
  border-radius: 500px; }
  .cat__core__avatar img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  .cat__core__avatar--50 {
    width: 3.57rem;
    height: 3.57rem; }
  .cat__core__avatar--70 {
    width: 5rem;
    height: 5rem; }
  .cat__core__avatar--90 {
    width: 6.42rem;
    height: 6.42rem; }
  .cat__core__avatar--110 {
    width: 7.85rem;
    height: 7.85rem; }
  .cat__core__avatar--border {
    border: 4px solid #d2d9e5; }
  .cat__core__avatar--border-white {
    border: 4px solid #ffffff; }
.cat__core__margin-fix {
  margin-top: -1.35rem; }
.font-size-0 {
  font-size: 0rem; }

.font-size-10 {
  font-size: 0.71rem; }

.font-size-12 {
  font-size: 0.85rem; }

.font-size-14 {
  font-size: 1rem; }

.font-size-16 {
  font-size: 1.14rem; }

.font-size-18 {
  font-size: 1.28rem; }

.font-size-20 {
  font-size: 1.42rem; }

.font-size-24 {
  font-size: 1.71rem; }

.font-size-26 {
  font-size: 1.85rem; }

.font-size-30 {
  font-size: 2.14rem; }

.font-size-36 {
  font-size: 2.57rem; }

.font-size-40 {
  font-size: 2.85rem; }

.font-size-50 {
  font-size: 3.57rem; }

.font-size-60 {
  font-size: 4.28rem; }

.font-size-70 {
  font-size: 5rem; }

.font-size-80 {
  font-size: 5.71rem; }
.height-100 {
  height: 7.14rem; }

.height-200 {
  height: 14.28rem; }

.height-300 {
  height: 21.42rem; }

.height-400 {
  height: 28.57rem; }

.height-500 {
  height: 35.71rem; }

.height-600 {
  height: 42.85rem; }

.height-700 {
  height: 50rem; }
.width-50 {
  width: 3.57rem; }

.width-100 {
  width: 7.14rem; }

.width-200 {
  width: 14.28rem; }

.width-300 {
  width: 21.42rem; }

.width-400 {
  width: 28.57rem; }

.width-500 {
  width: 35.71rem; }

.width-600 {
  width: 42.85rem; }

.width-700 {
  width: 50rem; }
.cat__core__example {
  padding: 1.07rem;
  border: 1px solid #e4e9f0; }
  .cat__core__example:before {
    content: 'EXAMPLE';
    display: block;
    margin-bottom: 1.07rem;
    color: #74708d; }
.cat__core__link--underlined {
  border-bottom: 1px solid rgba(57, 55, 73, 0.25); }
  .cat__core__link--underlined:hover {
    border-bottom-color: rgba(0, 136, 255, 0.2); }
.cat__core__link--blue {
  color: #0088ff; }
  .cat__core__link--blue:hover {
    color: #0072d6; }
  .cat__core__link--blue.link-underlined {
    border-bottom: 1px solid rgba(0, 136, 255, 0.25); }
    .cat__core__link--blue.link-underlined:hover {
      border-bottom-color: rgba(0, 136, 255, 0.2); }
.cat__core__title {
  font-size: 1.5rem;
  color: #393749; }
.cat__core__donut {
  display: inline-block;
  width: 1.14rem;
  height: 1.14rem;
  border-radius: 100%;
  border: 4px solid #acb7bf;
  position: relative;
  top: 0.14rem;
  margin-right: 0.28rem; }
  .cat__core__donut--default {
    border-color: #acb7bf; }
  .cat__core__donut--primary {
    border-color: #0190fe; }
  .cat__core__donut--secondary {
    border-color: #6a7a84; }
  .cat__core__donut--success {
    border-color: #46be8a; }
  .cat__core__donut--warning {
    border-color: #f39834; }
  .cat__core__donut--danger {
    border-color: #fb434a; }
  .cat__core__donut--info {
    border-color: #0887c9; }
  .cat__core__donut--yellow {
    border-color: yellow; }
.cat__core__icons-block {
  padding: 0 0 2.14rem;
  text-align: center; }
  .cat__core__icons-block p {
    height: 2.14rem; }
  .cat__core__icons-block li {
    text-align: center;
    display: inline-block;
    width: 2.85rem;
    height: 2.85rem;
    line-height: 2.85rem;
    font-size: 2.57rem;
    padding: 0.71rem 2.14rem;
    box-sizing: content-box;
    border-radius: 3px;
    background: #eef0f4;
    margin: 0.71rem; }
    .cat__core__icons-block li:hover {
      background: #222034;
      color: #ffffff; }
  .cat__core__icons-block .tooltip {
    font-size: 1.28rem; }
.cat__core__step {
  color: #74708d;
  background-color: #ffffff;
  padding: 1.42rem;
  border-radius: 3px;
  display: block; }
  .cat__core__step__digit {
    float: left;
    margin-right: 1.42rem;
    font-size: 3rem;
    width: 4rem;
    line-height: 3.57rem;
    text-align: center;
    font-weight: bold; }
    .cat__core__step__digit i {
      font-size: 2.57rem; }
  .cat__core__step__title {
    font-weight: bold;
    font-size: 1.14rem; }
  .cat__core__step__desc p {
    margin-bottom: 0; }
  .cat__core__step--default, .cat__core__step--primary, .cat__core__step--secondary, .cat__core__step--success, .cat__core__step--info, .cat__core__step--warning, .cat__core__step--danger {
    color: #ffffff !important; }
  .cat__core__step--default {
    background: #acb7bf !important;
    border-bottom-color: #acb7bf; }
  .cat__core__step--primary {
    background: #0190fe !important;
    border-bottom-color: #0190fe; }
  .cat__core__step--secondary {
    background: #6a7a84 !important;
    border-bottom-color: #6a7a84; }
  .cat__core__step--success {
    background: #46be8a !important;
    border-bottom-color: #46be8a; }
  .cat__core__step--info {
    background: #0887c9 !important;
    border-bottom-color: #0887c9; }
  .cat__core__step--warning {
    background: #f39834 !important;
    border-bottom-color: #f39834; }
  .cat__core__step--danger {
    background: #fb434a !important;
    border-bottom-color: #fb434a; }
  .cat__core__step--disabled {
    cursor: not-allowed;
    opacity: .65; }
  .cat__core__step--squared {
    border-radius: 0; }
  @media (max-width: 991px) {
    .cat__core__step {
      margin-bottom: 1.14rem !important;
      margin-top: 0 !important; } }
.card-header .cat__core__step {
  padding: 0.35rem 0 0.71rem 0;
  margin-bottom: -0.86rem;
  margin-top: 0rem;
  color: #74708d !important;
  background-color: #ffffff !important;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 0; }
  .card-header .cat__core__step__digit {
    font-size: 2rem;
    line-height: 2.71rem;
    height: 1.71rem;
    display: block;
    width: auto;
    min-width: 2.85rem;
    margin: 0 0.71rem; }
    .card-header .cat__core__step__digit i {
      font-size: 1.71rem; }
  .card-header .cat__core__step__title {
    font-weight: bold;
    font-size: 1rem; }
  .card-header .cat__core__step__desc {
    padding-top: 0; }
    .card-header .cat__core__step__desc p {
      font-size: 0.85rem;
      margin-bottom: 0.35rem;
      color: #b8beca; }
@media (max-width: 991px) {
  .card-header [class^="col-"]:last-child .cat__core__step {
    margin-bottom: -0.93rem !important; } }
.cat__core__steps-inline {
  display: inline-block; }
  .cat__core__steps-inline:before, .cat__core__steps-inline:after {
    content: " ";
    display: table; }
  .cat__core__steps-inline .cat__core__step {
    float: left;
    height: 1.57rem;
    border: none;
    border-left-width: 0rem;
    background: #eef0f4;
    line-height: 1.78rem;
    color: #acb7bf;
    text-align: center;
    border-radius: 0rem;
    padding: 0 1.07rem; }
    .cat__core__steps-inline .cat__core__step:first-child {
      border-right-width: 1px;
      border-radius: 100px 0 0 100px;
      padding-left: 1.28rem; }
    .cat__core__steps-inline .cat__core__step:last-child {
      border-left-width: 0;
      border-radius: 0 100px 100px 0;
      padding-right: 1.28rem; }
    .cat__core__steps-inline .cat__core__step--active {
      background: #0190fe;
      color: #ffffff; }
.cat__core__spin {
  -webkit-animation: fa-spin 1s infinite linear;
  -o-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear; }
.cat__core__spin-delayed {
  -webkit-animation: fa-spin-delayed 4s infinite ease-in-out;
  -o-animation: fa-spin-delayed 4s infinite ease-in-out;
  animation: fa-spin-delayed 4s infinite ease-in-out; }
.cat__core__spin-delayed--pseudo-selector:before, .cat__core__spin-delayed--pseudo-selector:after {
  display: inline-block;
  -webkit-animation: fa-spin-delayed 3s infinite ease-in-out;
  -o-animation: fa-spin-delayed 3s infinite ease-in-out;
  animation: fa-spin-delayed 3s infinite ease-in-out; }

/*  CORE ANIMATIONS */
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes fa-spin-delayed {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
/*  WIDGETS STYLES FOR "CORE" MODULE */
.cat__core__widget {
  border: 0px solid #ffffff;
  background: #ffffff;
  position: relative;
  border-radius: .25rem;
  margin-bottom: 1.35rem; }
  .cat__core__widget--border {
    border: 1px solid #e4e9f0; }
  .cat__core__widget__1__plus {
    position: absolute;
    top: 1.42rem;
    right: 1.42rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d2d9e5;
    border-radius: 500px;
    cursor: pointer;
    opacity: .7; }
    .cat__core__widget__1__plus:after {
      content: "";
      position: absolute;
      top: 0.21rem;
      left: 0.64rem;
      height: 0.92rem;
      width: 1px;
      background: #d2d9e5; }
    .cat__core__widget__1__plus:before {
      content: "";
      position: absolute;
      width: 0.92rem;
      height: 1px;
      left: 0.21rem;
      top: 0.64rem;
      background: #d2d9e5; }
    .cat__core__widget__1__plus:hover {
      opacity: 1; }
  .cat__core__widget__2__head {
    height: 17.85rem;
    background: #f2f4f8;
    background-size: cover;
    background-position: top center;
    border-radius: .25rem;
    line-height: 1.1;
    padding: 1.78rem 2.14rem; }
  .cat__core__widget__2__left {
    float: left;
    padding-left: 1.42rem;
    margin-top: -3.58rem; }
  .cat__core__widget__2__right {
    margin-left: 10rem;
    padding-top: 3.21rem;
    padding-right: 1.42rem;
    padding-bottom: 1px; }
  .cat__core__widget__3__body {
    display: block;
    height: 10rem;
    position: relative;
    width: 100%;
    padding: 1.78rem 2.14rem;
    overflow: hidden; }
  .cat__core__widget__3__icon {
    display: inline-block;
    font-size: 5.71rem;
    position: absolute;
    z-index: 1;
    bottom: -2.86rem;
    right: -1.79rem;
    opacity: .4; }

/*  VERTICAL LAYOUT STYLES:
    VERTICAL BOXED, VERTICAL ICONBAR;
    UNFIXED TOP BAR MODIFIER */
body.cat__config--vertical.cat__config--unfixed {
  padding-top: 0; }
  body.cat__config--vertical.cat__config--unfixed .cat__top-bar {
    position: static; }
body.cat__config--vertical.cat__config--boxed .cat__top-bar {
  width: auto !important;
  max-width: 1199px;
  margin: 0 auto !important;
  right: 0;
  left: 3.57rem;
  padding-left: 1.42rem; }
  @media (max-width: 1199px) {
    body.cat__config--vertical.cat__config--boxed .cat__top-bar {
      padding-left: 0; } }
  @media (min-width: 1200px) {
    body.cat__config--vertical.cat__config--boxed .cat__top-bar__logo {
      display: none;
      padding-left: 0; } }
@media (max-width: 767px) {
  body.cat__config--vertical.cat__config--boxed {
    padding-left: 0; } }
body.cat__config--vertical.cat__config--boxed .cat__content {
  width: auto !important;
  max-width: 1199px;
  margin: 0 auto !important;
  padding-left: 4.28rem;
  padding-right: 4.28rem; }
  @media (min-width: 768px) {
    body.cat__config--vertical.cat__config--boxed .cat__content {
      background: #ffffff; } }
@media (min-width: 768px) {
  body.cat__config--vertical.cat__config--compact .cat__content {
    margin-left: 10.71rem; }
  body.cat__config--vertical.cat__config--compact .cat__top-bar {
    left: 10.71rem;
    padding-left: 1.42rem; }
    body.cat__config--vertical.cat__config--compact .cat__top-bar__logo {
      display: none; }
  body.cat__config--vertical.cat__config--compact .cat__menu-left {
    transform: none;
    transition: none !important;
    width: 10.71rem; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__lock {
      display: none; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__logo {
      width: 10.71rem; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__item > a {
      padding: 0.85rem;
      text-align: center; }
      body.cat__config--vertical.cat__config--compact .cat__menu-left__item > a > .badge {
        position: absolute;
        top: 0.42rem;
        right: 0.42rem; }
      body.cat__config--vertical.cat__config--compact .cat__menu-left__item > a:before {
        display: block;
        content: '';
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        height: 1px;
        background: #393749; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__icon {
      position: static;
      display: block;
      text-align: center;
      width: 100%;
      font-size: 1.28rem;
      margin-bottom: 0.35rem; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__submenu.cat__menu-left__item > a:after {
      position: absolute;
      top: 50%;
      margin-top: -0.36rem;
      right: 1.07rem; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__submenu > .cat__menu-left__list .cat__menu-left__icon {
      display: none; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__submenu > .cat__menu-left__list .cat__menu-left__item:before {
      display: none; }
    body.cat__config--vertical.cat__config--compact .cat__menu-left__divider {
      display: none; } }
@media (min-width: 768px) {
  body.cat__config--vertical.cat__config--compact.cat__config--boxed {
    padding-left: 10.71rem; } }
body.cat__config--vertical.cat__config--compact.cat__config--unfixed .cat__top-bar {
  margin-left: 10.71rem; }

/*  HORIZONTAL LAYOUT STYLES:
    DEFAULT LAYOUT, BOXED LAYOUT;
    COMPACT AND UNFIXED MODIFIERS  */
body.cat__config--horizontal.cat__config--unfixed {
  padding-top: 0;
  overflow-x: hidden; }
  body.cat__config--horizontal.cat__config--unfixed .cat__top-bar {
    position: static; }
@media (min-width: 768px) {
  body.cat__config--horizontal {
    padding-top: 9.28rem;
    padding-left: 0; }
    body.cat__config--horizontal.cat__config--unfixed .cat__menu-left {
      position: relative; }
    body.cat__config--horizontal .cat__content {
      margin-left: 0; }
    body.cat__config--horizontal .cat__top-bar {
      top: 4.64rem;
      padding-left: 1.42rem; }
      body.cat__config--horizontal .cat__top-bar__logo {
        display: none; }
    body.cat__config--horizontal .cat__menu-left {
      left: 0;
      top: 0;
      width: 100%;
      height: 4.64rem;
      transform: none;
      transition: none;
      z-index: 991; }
      body.cat__config--horizontal .cat__menu-left__lock {
        display: none; }
      body.cat__config--horizontal .cat__menu-left__inner {
        top: 0;
        left: 17.85rem;
        right: 0;
        width: auto;
        z-index: 9; }
      body.cat__config--horizontal .cat__menu-left__divider {
        display: none; }
      body.cat__config--horizontal .cat__menu-left__logo {
        position: relative;
        z-index: 10; }
      body.cat__config--horizontal .cat__menu-left__list--root {
        margin: 0; }
        body.cat__config--horizontal .cat__menu-left__list--root > li {
          float: left; }
          body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item:before {
            top: auto;
            bottom: 0;
            height: 2px;
            width: 100%; }
          body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item > a {
            height: 4.64rem;
            padding: 1rem 1.21rem 0rem;
            border-left: 1px solid #393749; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item > a > .badge {
              position: absolute;
              top: 0.42rem;
              right: 0.42rem; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item > a:after {
              top: auto;
              bottom: 0.42rem;
              left: 50%;
              margin-left: -0.22rem;
              transform: rotate(-90deg); }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item > a > .cat__menu-left__icon {
              position: static;
              width: 100%;
              display: block; }
          body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item:hover > a {
            background: #0e0b20;
            color: #ffffff; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__item:hover > a > .cat__menu-left__icon {
              color: #ffffff; }
          body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu {
            position: relative; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu:hover > .cat__menu-left__list {
              position: absolute;
              top: 100%;
              left: 0;
              display: block;
              width: 17.85rem; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu .cat__menu-left__submenu {
              position: relative; }
              body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu .cat__menu-left__submenu.cat__menu-left__item > a:after {
                transform: rotate(-180deg); }
              body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu .cat__menu-left__submenu:hover > .cat__menu-left__list {
                position: absolute;
                top: 0rem;
                left: 100%;
                display: block;
                width: 17.85rem; }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu--horizontal-left .cat__menu-left__submenu.cat__menu-left__item > a:after {
              transform: rotate(0deg); }
            body.cat__config--horizontal .cat__menu-left__list--root > li.cat__menu-left__submenu--horizontal-left .cat__menu-left__submenu:hover > .cat__menu-left__list {
              left: auto;
              right: 100%; }
    body.cat__config--horizontal.cat__config--boxed {
      padding-left: 0rem; }
      body.cat__config--horizontal.cat__config--boxed .cat__menu-left {
        left: 0;
        right: 0;
        max-width: 1199px;
        margin: 0 auto; }
      body.cat__config--horizontal.cat__config--boxed .cat__top-bar {
        width: auto !important;
        max-width: 1199px;
        margin: 0 auto !important;
        right: 0;
        left: 0rem;
        padding-left: 1.42rem; } }
      @media (min-width: 768px) and (min-width: 1200px) {
        body.cat__config--horizontal.cat__config--boxed .cat__top-bar__logo {
          display: none;
          padding-left: 0; } }
@media (min-width: 768px) {
      body.cat__config--horizontal.cat__config--boxed .cat__content {
        width: auto !important;
        max-width: 1199px;
        margin: 0 auto !important; } }
      @media (min-width: 768px) and (min-width: 768px) {
        body.cat__config--horizontal.cat__config--boxed .cat__content {
          background: #ffffff; } }
@media (min-width: 768px) {
    body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item {
      margin-left: 0.71rem;
      margin-top: 1.28rem; }
      body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item:before {
        bottom: auto;
        top: 0;
        height: 1px; }
      body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item > a {
        height: 2rem;
        min-height: 1.42rem;
        padding: 0.28rem 0.5rem;
        border: none;
        position: relative; }
        body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item > a > .badge {
          position: absolute;
          top: -0.43rem;
          right: -0.29rem; }
        body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item > a:after {
          top: 50%;
          margin-top: -0.29rem;
          bottom: auto;
          left: auto;
          right: 0.57rem;
          transform: rotate(-90deg); }
        body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__item > a > .cat__menu-left__icon {
          display: none; }
    body.cat__config--horizontal.cat__config--compact .cat__menu-left__list--root > li.cat__menu-left__submenu > a {
      padding: 0.28rem 1.42rem 0.28rem 0.5rem; } }

/*  STYLES FOR "TOP-BAR" MODULE */
body {
  padding-top: 4.64rem; }

.cat__top-bar {
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  right: 0;
  height: 4.64rem;
  background: #ffffff;
  border-bottom: 1px solid #e4e9f0;
  padding-right: 1.42rem;
  color: #74708d; }
  .cat__top-bar__logo {
    width: 14.28rem;
    height: 4.64rem;
    display: inline-block;
    padding: 1rem 1.28rem;
    margin-right: 1.42rem; }
    .cat__top-bar__logo img {
      max-height: 2.5rem; }
  .cat__top-bar__avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #eef0f4;
    border-color: #d2d9e5;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 500px;
    border-radius: 500px; }
    .cat__top-bar__avatar img {
      width: 100%;
      height: auto; }
  .cat__top-bar__avatar-dropdown .dropdown-toggle {
    padding-right: 1.28rem;
    display: inline-block; }
    .cat__top-bar__avatar-dropdown .dropdown-toggle:after {
      position: absolute;
      top: 50%;
      margin-top: -0.08rem;
      right: 0rem; }
  .cat__top-bar__left {
    float: left;
    display: flex;
    align-items: center;
    height: 100%; }
    .cat__top-bar__left .cat__top-bar__item {
      margin-right: 2.14rem;
      display: inline-block; }
  .cat__top-bar__right {
    float: right;
    display: flex;
    align-items: center;
    height: 100%; }
    .cat__top-bar__right .cat__top-bar__item {
      margin-left: 2.14rem; }
  .cat__top-bar__item {
    padding-top: 0.35rem; }
  .cat__top-bar__mini-chart {
    height: 2.14rem;
    line-height: 2.14rem; }
    .cat__top-bar__mini-chart__inner {
      height: 80%;
      display: inline-flex;
      vertical-align: sub;
      margin: 0 0.35rem; }
      .cat__top-bar__mini-chart__inner i {
        display: inline-block;
        float: left;
        width: 4px;
        background: #0190fe;
        margin-right: 1px;
        align-self: flex-end; }
  .cat__top-bar__menu-button {
    cursor: pointer;
    height: 2.14rem;
    padding-top: 0.28rem;
    color: #d2d9e5;
    font-size: 1.14rem;
    transition: color 0.2s ease-in-out; }
    .cat__top-bar__menu-button:hover {
      color: #b8beca; }
  .cat__top-bar__search {
    border-bottom: 1px solid #e4e9f0;
    margin-top: 0.28rem; }
    .cat__top-bar__search input {
      border: none;
      position: relative;
      top: -1px;
      opacity: .6;
      width: 11.42rem; }
      .cat__top-bar__search input:focus {
        opacity: 1; }
    .cat__top-bar__search i {
      cursor: pointer;
      color: #d2d9e5;
      margin-right: 0.35rem; }
      .cat__top-bar__search i:hover {
        color: #615d7c; }

/*  NOTIFICATION BLOCK (TOP MENU) */
.cat__top-bar__activity {
  width: 20.71rem;
  margin: -0.5rem 0;
  background: #ffffff; }
  .cat__top-bar__activity__item {
    border-bottom: 1px solid #e4e9f0;
    padding: 0.71rem 0;
    position: relative; }
    .cat__top-bar__activity__item:last-child {
      border-bottom: 0; }
    .cat__top-bar__activity__item:hover {
      background: #eef0f4; }
      .cat__top-bar__activity__item:hover .cat__top-bar__activity__icon {
        background: #c0bdd0;
        color: #ffffff;
        border-color: #c0bdd0; }
  .cat__top-bar__activity__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 0.85rem;
    font-size: 1.14rem;
    width: 2.85rem;
    text-align: center;
    color: #d2d9e5;
    background: #f2f4f8;
    border-bottom: 1px solid #eef0f4; }
  .cat__top-bar__activity__inner {
    margin-left: 3.57rem;
    padding-right: 1.07rem; }
    .cat__top-bar__activity__inner label {
      font-size: 0.85rem; }
  .cat__top-bar__activity__descr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .cat__top-bar__activity__title > span {
    font-size: 0.92rem;
    color: #d2d9e5; }

.cat__footer {
  margin-bottom: 0rem;
  background: #e4e9f0;
  border-radius: 5px 5px 0 0;
  padding: 0.71rem;
  /* zarovnanie na spodok */
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0; }
  .cat__footer__bottom {
    margin-top: 1.42rem;
    padding-top: 2.14rem;
    border-top: 1px solid #d2d9e5; }
  .cat__footer__version {
    float: left;
    margin-left: 3.57rem; }
  .cat__footer__company {
    padding-left: 3.57rem;
    position: relative;
    display: inline-block;
    float: right; }
    @media (max-width: 767px) {
      .cat__footer__company {
        float: none;
        margin-top: 2.14rem; } }
  .cat__footer__company-logo {
    position: absolute;
    top: 0.35rem;
    left: 0;
    width: 2.14rem; }
  .cat__config--superclean .cat__footer {
    margin-bottom: 0; }

/* MENU LEFT */
.cat__menu-left {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17.85rem;
  height: 100%;
  background: #ffffff;
  /*#222034;*/
  -webkit-transform: translate3d(-17.86rem, 0, 0);
  transform: translate3d(-17.86rem, 0, 0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }

@media (min-width: 768px) {
  .cat__config--shadow .cat__menu-left {
    -webkit-box-shadow: 0 0 200px -30px rgba(57, 55, 73, 0.4);
    box-shadow: 0 0 200px -30px rgba(57, 55, 73, 0.4); } }
.cat__top-bar {
  padding-left: 3.57rem; }

@media (min-width: 768px) {
  .cat__menu-left {
    -webkit-transform: translate3d(-14.29rem, 0, 0);
    transform: translate3d(-14.29rem, 0, 0); }

  .cat__menu-left:hover {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  body.cat__menu-left--visible .cat__menu-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .cat__content {
    margin-left: 3.57rem; }

  body.cat__menu-left--visible .cat__content {
    margin-left: 17.85rem; } }
@media (max-width: 767px) {
  .cat__menu-left .cat__menu-left__lock {
    right: -3.58rem;
    -webkit-transition: right .2s ease-in-out;
    transition: right .2s ease-in-out; }

  body.cat__menu-left--visible--mobile .cat__menu-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  body.cat__menu-left--visible--mobile .cat__menu-left .cat__menu-left__lock {
    right: 0; } }
.cat__menu-left__logo {
  width: 17.85rem;
  height: 4.64rem;
  display: inline-block;
  background: #0e0b20;
  padding: 1rem 1.28rem; }

.cat__menu-left__logo a {
  line-height: 2.35rem; }

.cat__menu-left__logo img {
  max-height: 2.5rem;
  max-width: 90%;
  vertical-align: bottom; }

.cat__menu-left__inner {
  position: absolute;
  top: 4.64rem;
  bottom: 0;
  width: 100% !important; }

@media (max-width: 767px) {
  .cat__menu-left__inner {
    overflow-y: auto; } }
.cat__menu-left__submenu > .cat__menu-left__list {
  display: none;
  background: #ffffff;
  /*#0e0b20;*/ }

.cat__menu-left__submenu.cat__menu-left__item > a:after {
  display: block;
  content: '';
  border-width: 0.35rem 0.35rem 0.35rem 0;
  border-color: transparent #393749 transparent transparent;
  border-style: solid;
  position: absolute;
  top: 1.21rem;
  right: 3.85rem;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out; }

.cat__menu-left__submenu--toggled.cat__menu-left__item {
  /*background: #0e0b20;
  color: #ffffff;*/
  background: #ffffff;
  color: #0e0b20; }

.cat__menu-left__submenu--toggled.cat__menu-left__item > a:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.cat__menu-left__submenu--toggled.cat__menu-left__item > .cat__menu-left__icon {
  color: #0e0b20; }

.cat__menu-left__list {
  list-style: none;
  padding-left: 0; }

.cat__menu-left__list--root {
  margin: 1.42rem 0; }

.cat__menu-left__divider {
  background: #b8beca;
  /*#393749;*/
  height: 1px;
  margin: 0.71rem 1.42rem; }

.cat__menu-left__item > a {
  position: relative;
  min-height: 3.21rem;
  padding: 0.85rem 3.57rem 0.85rem 1.42rem;
  display: block;
  color: #b8beca; }

.cat__menu-left__item > a > .badge {
  margin-top: 0.21rem; }

.cat__menu-left__item--active > a, .cat__menu-left__item:hover > a, .cat__menu-left__item:active > a, .cat__menu-left__item:focus > a {
  background: #0e0b20;
  color: #ffffff; }

.cat__menu-left__item--active > a > .cat__menu-left__icon, .cat__menu-left__item:hover > a > .cat__menu-left__icon, .cat__menu-left__item:active > a > .cat__menu-left__icon, .cat__menu-left__item:focus > a > .cat__menu-left__icon {
  color: #ffffff; }

.cat__menu-left__item--disabled > a {
  cursor: default;
  background: transparent !important;
  color: #b8beca !important;
  opacity: .4; }

.cat__menu-left__item--disabled > a > .cat__menu-left__icon {
  color: #74708d !important; }

.cat__menu-left__icon {
  position: absolute;
  width: 1.42rem;
  text-align: center;
  top: 1.07rem;
  right: 1.14rem;
  color: #74708d;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase; }

.cat__menu-left__lock {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.57rem;
  height: 4.64rem;
  cursor: pointer;
  background: #0e0b20;
  padding: 1.64rem 0.14rem 0 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cat__menu-left__list--root > .cat__menu-left__item {
  position: relative; }

.cat__menu-left__list--root > .cat__menu-left__item:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: transparent; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--primary:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--primary.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--primary.cat__menu-left__item--active:before {
  background-color: #0190fe; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--secondary:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--secondary.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--secondary.cat__menu-left__item--active:before {
  background-color: #6a7a84; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--default:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--default.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--default.cat__menu-left__item--active:before {
  background-color: #acb7bf; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--info:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--info.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--info.cat__menu-left__item--active:before {
  background-color: #0887c9; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--success:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--success.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--success.cat__menu-left__item--active:before {
  background-color: #46be8a; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--warning:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--warning.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--warning.cat__menu-left__item--active:before {
  background-color: #f39834; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--danger:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--danger.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--danger.cat__menu-left__item--active:before {
  background-color: #fb434a; }

.cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--yellow:hover:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--yellow.cat__menu-left__submenu--toggled:before, .cat__menu-left__list--root > .cat__menu-left__item.cat__menu-left--colorful--yellow.cat__menu-left__item--active:before {
  background-color: yellow; }

@media (max-width: 767px) {
  .cat__menu-left__backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0e0b20;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }

  body.cat__menu-left--visible--mobile .cat__menu-left__backdrop {
    opacity: .4;
    visibility: visible;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }

  body.cat__menu-left--visible--mobile {
    overflow: hidden; } }
/*  ANIMATED BUTTON (MENU TOGGLE) */
.cat__menu-left__pin-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 1.35rem;
  height: 1.42rem;
  font-size: 0;
  text-indent: -9999px;
  outline: none; }

.cat__menu-left__pin-button div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #514d6a;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.cat__menu-left__pin-button div:before, .cat__menu-left__pin-button div:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #514d6a;
  content: ""; }

.cat__menu-left__pin-button div:before {
  top: -0.43rem;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.cat__menu-left__pin-button div:after {
  bottom: -0.43rem;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: width .2s, -webkit-transform .2s;
  transition: width .2s, -webkit-transform .2s;
  transition: transform .2s, width .2s;
  transition: transform .2s, width .2s, -webkit-transform .2s; }

.cat__menu-left__pin-button:hover div {
  background: #74708d; }

.cat__menu-left__pin-button:hover div:before, .cat__menu-left__pin-button:hover div:after {
  background-color: #74708d; }

@media (max-width: 767px) {
  body.cat__menu-left--visible--mobile .cat__menu-left__pin-button div {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: transparent; }

  body.cat__menu-left--visible--mobile .cat__menu-left__pin-button div:before {
    top: 0;
    -webkit-transform: translateX(-0.15rem) translateY(0.42rem) rotate(45deg);
    -ms-transform: translateX(-0.15rem) translateY(0.42rem) rotate(45deg);
    transform: translateX(-0.15rem) translateY(0.42rem) rotate(45deg); }

  body.cat__menu-left--visible--mobile .cat__menu-left__pin-button div:after {
    bottom: 0;
    -webkit-transform: translateX(-0.15rem) translateY(-0.58rem) rotate(-45deg);
    -ms-transform: translateX(-0.15rem) translateY(-0.58rem) rotate(-45deg);
    transform: translateX(-0.15rem) translateY(-0.58rem) rotate(-45deg); } }
@media (min-width: 768px) {
  body.cat__menu-left--visible .cat__menu-left__pin-button div {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background: transparent; }

  body.cat__menu-left--visible .cat__menu-left__pin-button div:before {
    top: 0;
    -webkit-transform: translateX(-0.15rem) translateY(0.5rem) rotate(45deg);
    -ms-transform: translateX(-0.15rem) translateY(0.5rem) rotate(45deg);
    transform: translateX(-0.15rem) translateY(0.5rem) rotate(45deg); }

  body.cat__menu-left--visible .cat__menu-left__pin-button div:after {
    bottom: 0;
    -webkit-transform: translateX(-0.15rem) translateY(-0.5rem) rotate(-45deg);
    -ms-transform: translateX(-0.15rem) translateY(-0.5rem) rotate(-45deg);
    transform: translateX(-0.15rem) translateY(-0.5rem) rotate(-45deg); } }
/*  JSCROLLPNAE CUSTOM STYLES */
.cat__menu-left .jspScrollable {
  outline: none; }

.cat__menu-left .jspScrollable:hover .jspVerticalBar {
  opacity: .7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.cat__menu-left .jspScrollable:hover .jspHorizontalBar {
  opacity: .7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.cat__menu-left .jspScrollable .jspTrack {
  left: -2px !important; }

.cat__menu-left .jspScrollable .jspVerticalBar {
  background: transparent;
  width: 3px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.cat__menu-left .jspScrollable .jspHorizontalBar {
  background: transparent;
  height: 4px;
  opacity: 0;
  bottom: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.cat__menu-left .jspScrollable .jspHorizontalBar .jspDrag:after {
  background: #514d6a;
  top: 0;
  bottom: 0; }

.cat__menu-left .jspScrollable .jspPane, .cat__menu-left .jspScrollable .jspContainer {
  width: 100% !important; }

.cat__menu-left .jspScrollable .jspCap {
  display: none; }

.cat__menu-left .jspScrollable .jspTrack {
  background: transparent;
  position: relative;
  width: 2px;
  left: -5px; }

.cat__menu-left .jspScrollable .jspDrag {
  background: transparent;
  position: relative;
  top: 0;
  left: -1px;
  width: 5px;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0; }

.cat__menu-left .jspScrollable .jspDrag:after {
  display: block;
  content: '';
  background: #514d6a;
  position: absolute;
  width: 100%;
  top: 4px;
  bottom: 4px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml40 {
  margin-left: 40px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr40 {
  margin-right: 40px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb40 {
  margin-bottom: 40px; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.f-left {
  float: left; }

.f-right {
  float: right; }

#grayOutDiv {
  background-color: #333;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 9999; }

.flash-message {
  z-index: 10000;
  position: relative; }

/*  DEFAULT PAGES: LOGIN, REGISTER, LOCKSCREEN  */
.cat__pages__login {
  background-size: cover;
  background-color: #f2f4f8; }
  .cat__pages__login--fullscreen {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto; }
  .cat__pages__login__block {
    padding: 5.71rem 2.85rem 5.71rem;
    width: 100%;
    align-self: center;
    position: relative;
    z-index: 2; }
    @media (max-width: 991px) {
      .cat__pages__login__block {
        padding: 5.71rem 1.42rem 5.71rem; } }
    .cat__pages__login__block__inner {
      min-width: 21.42rem;
      max-width: 35.71rem;
      margin: 0 auto;
      padding: 3.57rem 2.85rem 1.42rem;
      border-radius: 10px;
      overflow: hidden;
      background-color: #ffffff;
      position: relative; }
    .cat__pages__login__block__form {
      position: relative;
      z-index: 2; }
    .cat__pages__login__block__promo {
      padding: 0 0 4.28rem;
      max-width: 57.14rem;
      font-size: 1.14rem;
      line-height: 1.85rem;
      text-align: center;
      margin: 0 auto; }
    .cat__pages__login__block__sidebar {
      display: none; }
    @media (min-width: 992px) {
      .cat__pages__login__block--extended .cat__pages__login__block__inner {
        max-width: 57.14rem;
        padding: 5.71rem 5.71rem 3.57rem; }
      .cat__pages__login__block--extended .cat__pages__login__block__form {
        margin-right: 21.42rem; }
      .cat__pages__login__block--extended .cat__pages__login__block__sidebar {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 21.42rem;
        padding: 5.71rem 2.85rem;
        color: #ffffff;
        background: #222034; }
        .cat__pages__login__block--extended .cat__pages__login__block__sidebar__item {
          padding-left: 1.42rem;
          border-left: 2px solid #74708d;
          margin-bottom: 1.42rem;
          color: #74708d; }
        .cat__pages__login__block--extended .cat__pages__login__block__sidebar__title {
          margin-bottom: 1.42rem;
          line-height: 1.5; }
        .cat__pages__login__block--extended .cat__pages__login__block__sidebar__place {
          font-size: 1rem;
          font-weight: bold;
          position: absolute;
          z-index: 2;
          bottom: 2.85rem;
          left: 2.85rem; } }
  .cat__pages__login__header {
    align-self: flex-start;
    width: 100%;
    color: #ffffff;
    padding: 2.85rem; }
    @media (max-width: 991px) {
      .cat__pages__login__header {
        padding: 2.85rem 1.42rem 2.85rem; } }
    .cat__pages__login__header__logo img {
      max-width: 10.71rem;
      max-height: 3.57rem; }
    .cat__pages__login__header__menu {
      text-align: right;
      margin-top: 0.71rem; }
      @media (max-width: 991px) {
        .cat__pages__login__header__menu {
          text-align: left; } }
      .cat__pages__login__header__menu ul {
        font-size: 1.14rem; }
        .cat__pages__login__header__menu ul li {
          margin-right: 1.42rem;
          text-transform: uppercase; }
          .cat__pages__login__header__menu ul li:last-child {
            margin-right: 0; }
          .cat__pages__login__header__menu ul li.active a {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
          .cat__pages__login__header__menu ul li a {
            color: #ffffff !important;
            line-height: 1.4;
            display: inline-block;
            margin-right: 0.71rem;
            font-weight: bold; }
            .cat__pages__login__header__menu ul li a:hover {
              border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .cat__pages__login__footer {
    align-self: flex-end;
    width: 100%;
    color: white;
    padding: 2.85rem; }
    @media (max-width: 991px) {
      .cat__pages__login__footer {
        padding: 2.85rem 1.42rem 2.85rem; } }
    .cat__pages__login__footer ul {
      margin-bottom: 0; }
      .cat__pages__login__footer ul li {
        margin-right: 1.42rem;
        text-transform: uppercase; }
        .cat__pages__login__footer ul li:last-child {
          margin-right: 0; }
        .cat__pages__login__footer ul li a {
          color: #ffffff;
          opacity: .7;
          line-height: 1.4;
          display: inline-block;
          margin-right: 0.71rem; }
          .cat__pages__login__footer ul li a:hover {
            opacity: 1; }

/*# sourceMappingURL=main.css.map */
