<section class="cart">
	<div class="card-header">
        <span class="cat__core__title">
            <strong i18n="@@company-form.title">Údaje o firme</strong>
        </span>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-5">
            <form #modelForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="title" i18n="@@company-form.name">Názov spoločnosti</label>
                            <input type="text" class="form-control" required maxlength="50"
                                    id="title" name="title" [(ngModel)]="company.title"
                            >
                        </div>
                        <div *ngIf="formErrors.title" class="alert alert-danger">
                          {{ formErrors.title }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="domain" i18n="@@company-form.subname">Doména</label>
                            <input readonly type="text" class="form-control" maxlength="50"
                                    id="domain" name="domain" [(ngModel)]="company.domain"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-divider">
                    <span type="text">
                        <i class="fa fa-money"></i>
                        <label class="form-label" i18n="@@company-form.accountinfo">Účtovné údaje </label>
                    </span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="ico" i18n="@@company-form.ico">IČO</label>
                            <input type="text" class="form-control" required pattern="[0-9]{8}"
                                    id="ico" name="ico" [(ngModel)]="company.ico"
                            >
                        </div>
                        <div *ngIf="formErrors.ico" class="alert alert-danger">
                          {{ formErrors.ico }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="dic" i18n="@@company-form.dic">DIČ</label>
                            <input type="text" class="form-control" required maxlength="10" pattern="[0-9]{10}"
                                    id="dic" name="dic" [(ngModel)]="company.dic"
                            >
                        </div>
                        <div *ngIf="formErrors.dic" class="alert alert-danger">
                          {{ formErrors.dic }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                 <label class="form-check-label">
                                     <input checked class="form-check-input" type="checkbox"
                                            id="is_dph" name="is_dph" [(ngModel)]="company.is_dph">
                                     Platca DPH
                                 </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="icdph" i18n="@@company-form.icdph">IČ DPH</label>
                            <input type="text" class="form-control" maxlength="12"
                                    id="icdph" name="icdph" [(ngModel)]="company.icdph" pattern="[A-Za-z]{2}[0-9]{10}"
                            >
                        </div>
                        <div *ngIf="formErrors.icdph" class="alert alert-danger">
                          {{ formErrors.icdph }}
                        </div>
                    </div>
                </div>

                <div class="form-divider">
                    <span type="text">
                        <i class="fa fa-address-book">
                        </i>
                        <label class="form-label" i18n="@@company-form.contactinfo">Kontaktné informácie</label>
                    </span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="phone_1" i18n="@@company-form.phone_1">Telefón</label>
                            <input type="text" class="form-control" maxlength="20"
                                    id="phone_1" name="phone_1" [(ngModel)]="company.phone_1"
                            >
                        </div>
                        <div *ngIf="formErrors.phone_1" class="alert alert-danger">
                          {{ formErrors.phone_1 }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="phone_2" i18n="@@company-form.phone_2">Mobil</label>
                            <input type="text" class="form-control" maxlength="20"
                                    id="phone_2" name="phone_2" [(ngModel)]="company.phone_2"
                            >
                        </div>
                        <div *ngIf="formErrors.phone_2" class="alert alert-danger">
                          {{ formErrors.phone_2 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="email_1" i18n="@@company-form.email">E-mail</label>
                            <input type="email_1" class="form-control" email
                                    id="email_1" name="email_1" [(ngModel)]="company.email_1"
                            >
                        </div>
                        <div *ngIf="formErrors.email" class="alert alert-danger">
                          {{ formErrors.email_1 }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="web" i18n="@@company-form.web">Webová stránka</label>
                            <input type="web" class="form-control"
                                    id="web" name="web" [(ngModel)]="company.web"
                            >
                        </div>
                        <div *ngIf="formErrors.web" class="alert alert-danger">
                          {{ formErrors.web }}
                        </div>
                    </div>
                </div>

                <div class="form-divider">
                    <span type="text">
                        <i class="fa fa-map-marker">
                        </i>
                        <label class="form-label" i18n="@@company-form.addressinfo">Adresa</label>
                    </span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="base_street" i18n="@@company-form.base_street">Ulica</label>
                            <input type="text" class="form-control" maxlength="50"
                                    id="base_street" name="base_street" [(ngModel)]="company.base_street"
                            >
                        </div>
                        <div *ngIf="formErrors.base_street" class="alert alert-danger">
                          {{ formErrors.base_street }}
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="base_zip" i18n="@@company-form.base_zip">PSČ</label>
                            <input type="text" class="form-control" maxlength="10"
                                    id="base_zip" name="base_zip" [(ngModel)]="company.base_zip"
                            >
                        </div>
                        <div *ngIf="formErrors.base_zip" class="alert alert-danger">
                          {{ formErrors.base_zip }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="base_country" i18n="@@company-form.base_country">Krajina</label>
                          <select disabled class="form-control" id="base_country" name="base_country" [(ngModel)]="company.base_country">
                            <option id="1">Slovensko</option>
                          </select>
                        </div>
                        <div *ngIf="formErrors.base_country" class="alert alert-danger">
                          {{ formErrors.base_country }}
                        </div>
                    </div>
                </div>

                <div class="form-divider"></div>

                <div class="form-actions">
                    <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@profile-form.save">Uložiť</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
