<!--<div class="cat__top-bar__item hidden-sm-down">-->
  <!--<div class="dropdown">-->
    <!--<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
      <!--<i class="icmn-database mr-2"></i>-->
      <!--<span class="hidden-lg-down"><strong>Sklad menu 1</strong></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" aria-labelledby="" role="menu">-->
      <!--<div class="dropdown-header">Základné</div>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A1</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A2</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A3</a>-->
      <!--<div class="dropdown-header">Vlastné</div>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A10</a>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="cat__top-bar__item hidden-sm-down">-->
  <!--<div class="dropdown">-->
    <!--<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
      <!--<i class="icmn-database mr-2"></i>-->
      <!--<span class="hidden-lg-down"><strong>Sklad menu 2</strong></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" aria-labelledby="" role="menu">-->
      <!--<div class="dropdown-header">Základné</div>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A1</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A2</a>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A3</a>-->
      <!--<div class="dropdown-header">Vlastné</div>-->
      <!--<a class="dropdown-item" href="javascript:void(0)">Číselník A10</a>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
