<div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
  <div class="row" *ngIf="source">
    <div class="col-sm-12">
      <table class="table table-hover nowrap dataTable dtr-inline" id="{{ source.id }}" role="grid" aria-describedby="datatable_info">
        <thead>
        <tr role="row">
          <!-- nacitanie header tabulky -->
          <th *ngFor="let header of source.data.header;" class="sorting" tabindex="0" aria-controls="example1" >
            {{ header }}
          </th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <!-- nacitanie header tabulky na spodku tabulky -->
          <th *ngFor="let header of source.data.header;" rowspan="1" colspan="1">
            {{ header }}
          </th>
        </tr>
        </tfoot>
        <tbody>
        <!-- nacitanie obsahu tabulky -->
        <tr role="row" class="odd" *ngFor="let row of source.data.rows;
                                         let even = even;
                                         let odd = odd"
            [ngClass]="{ odd: odd, even: even }"
        >
          <!-- nacitanie riadku tabulky -->

          <td>{{ row.data[0] }}</td>
          <td> {{ row.data[1] }}</td>
          <td> {{ row.data[3] }}</td>

          <td *ngIf="row.data[4]=='1'"><input type="checkbox" class="checkbox" checked (click)="_select(row)"></td>
          <td *ngIf="row.data[4]=='0'"><input type="checkbox" class="checkbox" (click)="_select(row)"></td>

          <td *ngIf="row.data[3]=='centrálne'">&nbsp;</td>
          <td *ngIf="row.data[3]=='lokálne'">
            <!--<button class="btn btn-primary" (click)="_update(row)">upraviť</button>-->
            <button class="btn btn-danger" (click)="_delete(row)">vymazať</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
