<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <div class="row">
      <div class="col-lg-9 form-inline">

        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filtrácia dát">
        </mat-form-field>
      <!--</div>-->
      <!--<div class="col-lg-6">-->

        <select  #filterColumn (change)="applyFilterColumn()" class="form-control filter-column">
          <option value="">filtrovať všetky stľpce</option>
          <option value="name">filtrovať názov</option>
          <option value="shortcut">filtrovať kód</option>
          <option value="currency">filtrovať menu</option>
          <option value="market">filtrovať kurz</option>
        </select>

      </div>
      <div class="col-lg-3">
        <div class="action-buttons">
          <a (click)="new()" title="Vytvorenie položky">
            <i class="fa fa-plus fa-lg link" aria-hidden="true"></i>
          </a>

          <span class="separator"></span>

          <a (click)="edit()" title="Editácia položky">
            <i class="fa fa-pencil fa-lg link" aria-hidden="true"></i>
          </a>

          <span class="separator"></span>

          <app-multiboxes [section]="section"></app-multiboxes>

          <span class="separator"></span>

          <a (click)="print()" title="Tlač položiek">
            <i class="fa fa-print fa-lg link" aria-hidden="true"></i>
          </a>

          <span class="separator"></span>

          <a (click)="exportData()" title="Export položiek">
            <i class="fa fa-angle-double-down fa-lg link" aria-hidden="true"></i>
          </a>

          <span class="separator"></span>

          <a (click)="importData()" title="Import položiek">
            <i class="fa fa-angle-double-up fa-lg link" aria-hidden="true"></i>
          </a>

          <span class="separator"></span>

          <a (click)="removeItems()" title="Mazanie položiek">
            <i class="fa fa-trash fa-lg link" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table" matSort>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header> Názov </mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="shortcut">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header>Kód</mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell"> {{row.shortcut}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header>Mena</mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell">
        <ng-container *ngIf="row.currency"> {{row.currency.abrv}} </ng-container>
      </mat-cell>

    </ng-container>

    <ng-container matColumnDef="market">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header>Kurz</mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell">
        <ng-container *ngIf="row.currency"> {{row.currency.market}} </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkbox">
      <mat-header-cell *matHeaderCellDef class="example-header-cell" mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row" class="example-cell">
        <input type="checkbox"  value="{{ row.id }}" id="ch-b-{{row.shortcut}}" class="table-checkbox">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="example-header-row"></mat-header-row>
    <!-- Add ngClass and click event here -->
    <mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlight': selectedRowIndex == row.id}"
            (click)="highlight(row)"
            (dblclick)="edit(row)"
            (mouseover)="enableCheckbox(row)"
            (mouseout)="disableCheckbox(row)">
    </mat-row>
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;" class="example-row"></mat-row>-->
  </mat-table>

  <mat-paginator #paginator
                [length]="exampleDatabase.data.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100, 500]">
  </mat-paginator>
</div>
