/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height:600px;
  height: 100%;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */
.example-table {
  flex: 1 1 auto;
  overflow: auto;
  max-height: 500px;
}
.example-header {
  min-height: 64px;
  /*display: flex;*/
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.example-header-row, .example-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}

.example-cell, .example-header-cell {
  flex: 1;
}



.example-header-cell {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  position: sticky;
  top: 0;
}

.example-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.mat-form-field {
  font-size: 12px;
  flex-grow: 1;
  margin-left: 32px;
}

.separator {
  width: 20px;
}
.link{
  cursor: pointer;
}
.highlight{
  background: #D5E3EB;
}

.action-buttons{
  margin-top: 12px;
  text-align: right;
}

.filter-column{
  margin-left: 10px;
}

.table-checkbox{
  visibility: hidden;
}

.mat-header-row, .mat-row{
 min-height: 12px !important;
}
