<form #modelForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label" for="title" i18n="@@branch-form.name">Názov pobočky</label>
    <input type="text" class="form-control" required minlength="4" maxlength="64"
           id="title" name="title" [(ngModel)]="branch.title" #name="ngModel"
    >
  </div>
  <div *ngIf="formErrors.title" class="alert alert-danger">
    {{ formErrors.title }}
  </div>

  <div class="form-group">
    <label class="form-label" for="city" i18n="@@branch-form.city">Mesto</label>
    <select class="form-control"
           id="city" name="city" [(ngModel)]="branch.city" #city="ngModel"
    >
      <option value="0">-- nevybrane --</option>
      <option value="1">Banská Bystrica</option>
      <option value="1">Bratislava I</option>
    </select>
  </div>
  <div *ngIf="formErrors.city" class="alert alert-danger">
    {{ formErrors.city }}
  </div>
  <div class="form-group">
    <label class="form-label" for="contact" i18n="@@branch-form.contact">Kontaktná osoba</label>
    <input type="text" class="form-control" maxlength="64"
           id="contact" name="contact" [(ngModel)]="branch.contact" #contact="ngModel"
    >
  </div>
  <div *ngIf="formErrors.contact" class="alert alert-danger">
    {{ formErrors.contact }}
  </div>

  <div class="form-group">
    <label class="form-label" for="title" i18n="@@branch-form.url">URL</label>
    <input type="text" class="form-control"
           id="url" name="url" [(ngModel)]="branch.url" #name="ngModel"
    >
  </div>
  <div *ngIf="formErrors.url" class="alert alert-danger">
    {{ formErrors.url }}
  </div>

  <div class="form-group">
    <label class="form-label" for="title" i18n="@@branch-form.name">Slug</label>
    <input type="text" class="form-control"
           id="slug" name="slug" [(ngModel)]="branch.slug" #name="ngModel"
    >
  </div>
  <div *ngIf="formErrors.slug" class="alert alert-danger">
    {{ formErrors.slug }}
  </div>

  <input type="hidden"  id="created_at" name="created_at" [(ngModel)]="branch.created_at" >

  <div class="form-actions">
    <button id="button-clear" class="btn btn-danger width-150" type="reset" (click)="onReset()" i18n="@@branch-form.clear">Reset formulára</button>
    <button id="button-save" class="btn btn-primary width-150" type="submit" i18n="@@branch-form.save">{{ bTitle }}</button>
  </div>
</form>


