<router-outlet></router-outlet>

<!-- START: pages/register -->
<div class="cat__pages__login" style="background-image: url(assets/modules/access/img/auth_bg.jpg)">
    <div class="cat__pages__login__block">
        <div class="row">
            <div class="col-xl-12">
            	<div class="cat__pages__login__block__promo text-white text-center">
                    <img src="assets/modules/access/img/logo_small_w.png" align="middle">
                    <h1 class="mb-3">
                      <strong>Eqini</strong>
                    </h1>
                    <p>verzia {{ appVersion }}</p>
                </div>
                <div class="cat__pages__login__block__inner">
                    <div class="cat__pages__login__block__form">

                        <h4 class="text-uppercase">
                          <strong>Registrácia</strong>
                        </h4>
                        <br />
§
                        <form #modelForm="ngForm" (ngSubmit)="onSubmit()" id="form-validation" name="form-validation" method="POST">
                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <i class="icmn-spinner11 cat__core__spin"></i>
                                    <input id="title"
                                           class="form-control"
                                           placeholder="Názov firmy"
                                           name="title"
                                           type="text"
                                           [ngModel]="company.title"
                                           required
                                           #company="ngModel">

                                  <div *ngIf="formErrors.title" class="alert alert-danger">
                                    {{ formErrors.title }}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <i class="icmn-spinner11 cat__core__spin"></i>
                                    <input id="domain"
                                           class="form-control"
                                           placeholder="Doména"
                                           [ngModel]="company.domain"
                                           name="domain"
                                           required
                                           #domain="ngModel"
                                           type="text"
                                           >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <i class="icmn-spinner11 cat__core__spin"></i>
                                    <input id="email"
                                           class="form-control"
                                           placeholder="Emailová adresa"
                                           name="email"
                                           type="email"
                                           [ngModel]="company.email"
                                           required
                                           email
                                           #email="ngModel">
                                           <small  [hidden]="email.valid || !email.touched">
                                               Prosím, zadajte email spoločnosti v korektnom formáte! </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="full_name"
                                       class="form-control"
                                       name="full_name"
                                       type="text"
                                       placeholder="Celé meno"
                                       [ngModel]="company.full_name"
                                       #full_name="ngModel">
                                       <small [hidden]="full_name.valid || !full_name.touched">
                                           Prosím, zadajte celé meno zodpovednej osoby! </small>
                            </div>
                            <div class="form-group">
                                <input id="password"
                                       class="form-control password"
                                       name="password"
                                       [ngModel]="company.password"
                                       placeholder="Heslo"
                                       type="password"
                                       #password="ngModel"
                                       required
                                       minlength="4"
                                       validateEqual="confirmpassword"
                                       reverse = true>
                                       <small [hidden]="password.valid || (password.pristine)">
                                           Prosím, zadajte heslo s minimálnou dĺžkou 6 znakov! </small>

                            </div>
                            <div class="form-group">
                                <input type="password"
                                       class="form-control"
                                       name = "confirmpassword"
                                       [ngModel]="company.confirmpassword"
                                       required
                                       validateEqual="password"
                                       placeholder="Zopakovať heslo"
                                       #confirmpassword="ngModel">
                                       <small [hidden]="confirmpassword.valid || (confirmpassword.pristine)">
                                           Prosím, zopakujte heslo korektne! </small>

                            </div>

                            <div class="form-actions">
                                <button type="submit"
                                        class="btn btn-primary"
                                        [disabled]="!modelForm.valid">
                                        Registrovat
                                        </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: pages/register -->
