<form #modelForm="ngForm" (ngSubmit)="onSubmit()" id="form-validation" name="form-validation" *ngIf="section">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label class="form-label" for="title" i18n="@@ciselniky-form.title">Názov</label>
        <input type="text"
               class="form-control"
               required
               maxlength="128"
               id="title"
               name="title"
               [(ngModel)]="ciselnik.title"
               #title="ngModel"
               (change) = onChange()
        >
        <div *ngIf="formErrors.title" class="alert alert-danger">
          {{ formErrors.title }}
        </div>
        <!--<small [hidden]="title.valid || !title.touched">-->
          <!--Chyba!-->
        <!--</small>-->
      </div>

      <div class="form-group">
        <label class="form-label" for="title" i18n="@@ciselniky-form.title">Kódové označenie</label>
        <input type="text"
               class="form-control"
               maxlength="16"
               required
               id="abrv"
               name="abrv"
               [(ngModel)]="ciselnik.abrv"
               #abrv="ngModel"
               (change) = onChange()
        >
        <div *ngIf="formErrors.abrv" class="alert alert-danger">
          {{ formErrors.abrv }}
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="currency" i18n="@@ciselniky-form.mena">Mena</label>
        <select type="text"
               class="form-control"
               id="currency"
               name="currency"
               [(ngModel)]="ciselnik.currency"
               #currency="ngModel"
              >
          <option *ngFor="let item of currencyList"
                  [value]="item.id"
                  [attr.selected]="ciselnik.currency!=null && ciselnik.currency.abrv==item.abrv ? true: null"
          > {{item.abrv}} - {{item.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="hidden" id="id" name="id"  [(ngModel)]="ciselnik.id" #id="ngModel">
        <button class="btn btn-danger" (click)="closeDialog()" tabindex="-1">Zrusit</button>
        <button class="btn btn-primary" type="submit">Ulozit</button>
      </div>

    </div>


  </div>

</form>


