<div class="cat__content">

  <!-- hlavicka ciselnikov, popis a instrukcie k ciselniku -->
  <app-ciselnik-header [section]="section"></app-ciselnik-header>

  <app-table [section]="section"></app-table>

</div>
