<div class="cat__menu-left__inner">
  <!--<ul class="cat__menu-left__list cat__menu-left__list&#45;&#45;root">-->

    <!--<li *ngFor="let item of listCiselnikov;" class="cat__menu-left__item"-->
        <!--[routerLinkActive]="['cat__menu-left__item&#45;&#45;active']">-->

      <!--<a  (click)="navigateTo(item.stub)"> {{ item.title }}-->
        <!--<span class="cat__menu-left__icon icmn-profile">-->
            <!--<i class="fa fa-circle-thin"></i>-->
          <!--</span>-->
      <!--</a>-->
    <!--</li>-->

  <!--</ul>-->
</div>
