<app-top-bar type="{{ unit.name }}"></app-top-bar>

<div class="cat__content">
  <p class="mb-10" i18n="@@page-not-found.title">Ľutujeme, ale stránka sa nenašla</p>

  <button class="btn btn-primary" (click)="onBack()" i18n="@@page-not-found.back"> Návrat </button>
</div>

<app-footer></app-footer>
