<div class="cat__menu-left__inner">
  <ul class="cat__menu-left__list cat__menu-left__list--root">
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item']">
      <a routerLink="/podvojne-uctovnictvo"> <h4>Podvojné účtovníctvo</h4>

      </a>
    </li>
    <li class="cat__menu-left__item" [routerLinkActive]="['cat__menu-left__item--active']">
      <a routerLink="/ciselniky"> Učtovníctvo číselníky
        <span class="cat__menu-left__icon icmn-profile">
            <i class="fa fa-database"></i>
          </span>
      </a>
    </li>

  </ul>
</div>
