<app-top-bar type="{{ unit.name }}" branches="{{ branches }}" period="{{ period }}" company="{{ company }}"></app-top-bar>
<app-left-bar type="{{ unit.name }}" [isFullScreen]="isFullScreen"></app-left-bar>

<div class="cat__content">

  <h2 class="dashboard-title">
    Vitajte v systéme Equini !
  </h2>

  <p class="dashboard-intro">

    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>




</div>

<app-footer></app-footer>
