<div class="top-bar-cross">
  <i class="fa fa-arrow-down fa-lg" aria-hidden="true" [hidden]="!isFullScreen" (click)="toggleScreen()"></i>
</div>

<div class="cat__top-bar" [hidden]="isFullScreen">
  <!-- left aligned items -->
  <div class="cat__top-bar__left">

    <!-- logo aplikacie -->
    <div class="cat__top-bar__logo">
      <a href="/">
        <img src="assets/modules/top-bar/common/images/logo.png" />
      </a>
    </div>

    <!--<div class="cat__top-bar__item">-->
      <!--<div class="cat__top-bar__menu-button cat__menu-right__action&#45;&#45;menu-toggle link">-->
        <!--<i class="fa fa-arrows-alt" (click)="toggleScreen()">&lt;!&ndash; &ndash;&gt;</i>-->
      <!--</div>-->
    <!--</div>-->

    <!-- akcne menu na rychle volby aplikacie -->

    <div class="cat__top-bar__item hidden-sm-down">
      <div class="dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="menu-notification-icon fa fa-sitemap"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="" role="menu">

          <div class="cat__top-bar__activity">
            <div class="cat__top-bar__activity__item">
              <a routerLink="/sklad">
              <i class="cat__top-bar__activity__icon fa fa-archive fa-lg"></i>
              <div class="cat__top-bar__activity__inner">
                <div class="cat__top-bar__activity__descr">
                  Sklad
                </div>
              </div>
              </a>
            </div>
            <div class="cat__top-bar__activity__item">
              <a routerLink="/podvojne-uctovnictvo" >
              <i class="cat__top-bar__activity__icon fa fa-columns fa-lg"></i>
              <div class="cat__top-bar__activity__inner">
                <div class="cat__top-bar__activity__descr">
                  Podvojné účtovníctvo
                </div>
              </div>
              </a>
            </div>
          </div>

        </ul>
      </div>
    </div>

    <!-- status bar -->
    <div class="cat__top-bar__item top-bar_company" *ngIf="company">
      <button class="btn btn-default">{{ company }}  [ {{ period }} ]</button>
    </div>

    <!--<div class="cat__top-bar__item top-bar_period" *ngIf="period">-->
      <!--{{ period }}-->
    <!--</div>-->

    <!--<div class="cat__top-bar__item top-bar_branches" >&lt;!&ndash; *ngIf="branches"&ndash;&gt;-->

        <!--<select #branch class="form-control">-->
        <!--&lt;!&ndash;<option *ngFor="let item of branches" [value]='item.id'>&ndash;&gt;-->
          <!--&lt;!&ndash;{{item.title}}&ndash;&gt;-->
        <!--&lt;!&ndash;</option>&ndash;&gt;-->
        <!--<option>Pobočka Banská Bystrica</option>-->
      <!--</select>-->

    <!--</div>-->

    <!-- roletove menu -->

    <app-top-bar-dashboard *ngIf="type=='Pracovná plocha'"></app-top-bar-dashboard>

    <app-top-bar-pod-ucto *ngIf="type=='Podvojné účtovníctvo'"></app-top-bar-pod-ucto>

    <app-top-bar-sklad *ngIf="type=='Sklad'"></app-top-bar-sklad>

  </div>


  <!-- prave menu, profil -->
  <div class="cat__top-bar__right">

    <div class="cat__top-bar__item">
      <div class="dropdown cat__top-bar__avatar-dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="cat__top-bar__avatar" href="javascript:void(0);">
                <img src="assets/modules/access/img/avatars/1.jpg" />
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
          <div class="dropdown-header">Nastavenia</div>
          <a class="dropdown-item" routerLink="/setting/profile" title="Profil používateľa">
            <i class="dropdown-icon icmn-circle-right"></i>
            <span i18n="@@top-bar.profile">Profil používateľa</span>
          </a>
          <a class="dropdown-item" routerLink="/setting/company" title="Profil firmy">
            <i class="dropdown-icon icmn-circle-right"></i>
            <span i18n="@@top-bar.company">Profil firmy</span>
          </a>
          <a class="dropdown-item" routerLink="/setting/branches" title="Pobočky firmy">
            <i class="dropdown-icon icmn-circle-right"></i>
            <span i18n="@@top-bar.affiliates">Pobočky firmy</span>
          </a>
          <a class="dropdown-item" routerLink="/setting/users" title="Používatelia">
            <i class="dropdown-icon icmn-circle-right"></i>
            <span i18n="@@top-bar.users">Používatelia</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/login"><i class="dropdown-icon icmn-exit"></i><b i18n="@@top-bar.logout">Odhlásenie</b></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="cat__top-bar__right" >
    <!-- rychla volba  -->

    <div class="cat__top-bar__item hidden-sm-down">
      <div class="dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="menu-notification-icon fa fa-plus"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">

          <div class="cat__top-bar__activity">
            <div class="cat__top-bar__activity__item">
              <i class="cat__top-bar__activity__icon fa fa-plus-circle fa-lg"></i>
              <div class="cat__top-bar__activity__inner">
                <div class="cat__top-bar__activity__descr">
                  <a href="">Pridanie položky do skladu</a>
                </div>
              </div>
            </div>
            <div class="cat__top-bar__activity__item">
              <i class="cat__top-bar__activity__icon fa fa-university fa-lg"></i>
              <div class="cat__top-bar__activity__inner">
                <div class="cat__top-bar__activity__descr">
                  <a href="">Prehlad účtov</a>
                </div>
              </div>
            </div>
          </div>

        </ul>
      </div>
    </div>
  </div>

</div>
